$desktop: 1025px;
$tablet: 768px;

@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

:root {
	--view-pad: 2rem 3rem 0;
	@media (width < $desktop) {--view-pad: 2rem 2rem 0;}
	@media (width < $tablet) {--view-pad: 1rem 1rem 0; }

	--button-pad: 1.25rem;
	@media (width < $desktop) {--button-pad: 0.75rem; }

	/**/
	--amber: #D88B46;
	--cloth: #FFE99D;
	--darkwood: #834848;
	--grey: #444;
	--wood: #8D6346;

	--rounded: 0.25rem;
	--shade-b: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--shade-t: 0px -4px 4px rgba(0, 0, 0, 0.25);

	--topbar-height: 5rem;

	color: var(--amber);
	font-family: "Default";
	font-size: 20px;
	@media (width < $tablet) { font-size: 15px; }
	scrollbar-width: thin;
	scrollbar-color: var(--darkwood) var(--wood);
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--wood);  }
::-webkit-scrollbar-thumb { background: var(--darkwood); }

@font-face {
  font-family: "PirataOne";
  src: local("PirataOne"), url("../fonts/PirataOne/PirataOne-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Default";
  src: local("Besley"), url("../fonts/Besley/Besley-VariableFont_wght.woff2") format("truetype");
}

[x-cloak] { display: none !important; }

body {
  margin: 0;
	background: linear-gradient(135deg, #5448C8 15%, #60B2E5 85%);
	height: 100dvh;
	overflow: hidden;
	
	// & #viewport {
	// 	background: linear-gradient(135deg, #5448C8 15%, #60B2E5 85%);
	// 	position: fixed;
	// 	width: 100%;
	// }
}

h1, h2, h3, h4, h5, h6 {
	color: var(--amber);
	font-family: "PirataOne";
	font-weight: 400;
	margin: 0;
}

h1 { font-size: 2.4rem; }

h2 { font-size: 2rem; }

button {
	border: none;
	background-color: var(--darkwood);
	color: var(--cloth);
	cursor: pointer;
	font-family: "PirataOne";
}

input {
	background: transparent;
	border-color: var(--darkwood);
	border-width: 0 0 2px 0;
	color: var(--darkwood);
	font-family: "Default";
	outline: none;
}

.capitalize::first-letter { text-transform:capitalize; }

.bg-amber { background-color: var(--amber); }
.bg-cloth { background-color: var(--cloth); }
.bg-darkwood { background-color: var(--darkwood); }
.bg-grey { background-color: var(--grey); }
.bg-wood { background-color: var(--wood); }

.txt-amber { color: var(--amber); }

.rounded { border-radius: var(--rounded); }

.shade-b { box-shadow: var(--shade-b); }
.shade-t { box-shadow: var(--shade-t); }

.mobile {
	@media (width >= $tablet) { display: none; }
}

/* Common */
.menu-item {
	@include flex-center;

	background-color: var(--cloth);
	border-radius: var(--rounded);
	box-shadow: var(--shade-b);
	z-index: 1;
	&:hover { cursor: pointer; }
}

.avatar {
	aspect-ratio: 1;
	background-size: cover;
	background-position: center;
}

/* GENERIC LIST */
.list {
	& > .list-element { display: flex; }
}

/* VIEW */
#view {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: calc(100% - var(--topbar-height));

	#view-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-height: 100%;
		overflow: hidden;
		padding: var(--view-pad);
		@media (width < $desktop) {
			position: relative;
		}
	}
}

.nav-buttons {
	display: flex;
	gap: 2rem;
	justify-content: center;
	padding: var(--button-pad);
	z-index: 10;

	@media (width < $desktop) { 
		background-color: var(--wood);
		box-shadow: var(--shade-t);
	}

	@media (width < $tablet) { 
		box-sizing: border-box;
		gap: 1rem;
	}

	& > button {
		border-radius: var(--rounded);
		box-shadow: var(--shade-b);
		font-size: 1.6rem;
		line-height: 1em;
		padding: 0.75rem 3rem;
		@media (width < $tablet) { 
			flex-basis: 100%; 
			letter-spacing: 1px;
			padding: 0.75rem;
		}

		&.even {
			aspect-ratio: 1;
			padding: calc(0.5em + 0.75rem);
			@media (width < $tablet) { flex-basis: unset };

			&.back {
				background-image: url("/icons/icon-back-128.png");
				background-size: 2rem;
				background-position: 50% calc(50% - 1px);
				background-repeat: no-repeat;
			}
		}
	}
}


@import "game.scss";
@import "game.scss";
@import "lobby.scss";
@import "main-menu.scss";
@import "ranking.scss";
@import "tavern.scss";
@import "topbar.scss";
@import "chat.scss";
@import "form.scss";