#chat-wrapper(x-data="{ open: false, toggle() { this.open = !this.open; $el.style.translate = this.open ? 0 : '' } }")
	.buttons
		button.toggle(x-data x-text="open ? 'Ukryj chat' : 'Pokaż chat'" @click="toggle()")
	form#chat(x-data @submit.prevent="$store.chat.submit(event)" @keydown.stop) 
		.messages
			template(x-for="msg in $store.chat.messages")
				div.msg
					span.from.txt-amber(x-text="msg.from ? `${msg.from}: ` : ''")
					span.text(x-text="msg.text")
		input.rounded(name="message" autocomplete="off")