.crew-lobby
	| Lobby
	.list.player-list(
		hx-trigger="crew-change from:body" 
		hx-post="/htmx/crew-change" 
		hx-vals=`js:{type: 'crew', crewId: ${crew.id}}`
		hx-swap="innerHTML"
	)
		include ./crew-list

	button.add.bg-darkwood.rounded.shade-b(hx-get="/htmx/crew-add" hx-target=".player-list" hx-swap="beforeend") +

	.lobby-settings

.br-buttons
	button#ready-btn.bg-darkwood.shade-b GOTOWY!
	button.bg-grey.shade-b(hx-get="/htmx/crew-leave" hx-target="#view") OPUŚĆ ZAŁOGĘ

<!-- Start game script -->
script.
	document.getElementById("ready-btn").addEventListener("click", async () => {
		if (!Corsairs.mounted) {
			console.log("Still not mounted lol");
			await Corsairs.mount("#game-wrapper");
		}
		Corsairs.start();
	});
