dialog#register.auth-form.bg-wood.rounded.shade-b
	h3 Zarejestruj się
	form.bg-cloth.rounded(x-data @submit.prevent="$store.form.submit()")
		label
			span E-mail
			input(name="email" type="email" x-model="$store.form.email")
		label
			span Nick
			input(name="name" type="text" x-model="$store.form.nick")
		label
			span Hasło
			input(name="password" type="password" x-model="$store.form.password")
		label
			span Powtórz hasło
			input(name="repassword" type="password" x-model="$store.form.repassword")
		.buttons
			button.bg-darkwood.rounded(type="submit") ŻAGLE NA MASZT
			button.bg-grey.rounded(type="button" @click="$store.form.setType(null)") X
