.topbar.bg-wood.border-box.shade-b
	
	.crew.bg-cloth.flex-center.rounded Brak załogi.
	
	.spacer

	.title-wrapper
		button.title.menu-item.h-100p(x-data @click="$store.router.setView('main-menu')")
			h1 KORSARZE

	.player-wrapper.bg-cloth.rounded.h-100p(x-data)
		#player-avatar.avatar(x-bind:style="`background-image: url(${$store.user.avatar})`")
		#player-info.info
			include ./topbar-profile
			include ./topbar-form
