.topbar.bg-wood.border-box.shade-b
	
	.crew.bg-cloth.flex-center.rounded Brak załogi.
	
	.spacer

	.title-wrapper
		.title.menu-item.h-100p(hx-get="/htmx/main-menu" hx-target="#view")
			h1 KORSARZE

	.player-wrapper.bg-cloth.rounded.h-100p
		#player-avatar.avatar
		#player-info.info
			include ./topbar-profile