.profile
	span#player-name(x-text="$store.user.name")
	.btn-row
		if !user || !(user.uid)
			button.rounded(hx-get="/htmx/topbar-login" hx-target=".player-wrapper > .info") Login
			button.rounded(hx-get="/htmx/topbar-register" hx-target=".player-wrapper > .info") Register
		else
			button.rounder(hx-post="/htmx/topbar-logout" hx-target=".player-wrapper > .info") Logout