.profile
	span#player-name(x-text="$store.user.name")
	.btn-row
		button.rounded(x-show="$store.user.auth" @click="$store.emit('onUserLogout')") Wyloguj
		button.rounded(x-show="!($store.user.auth)" @click="$store.form.setType('login')") Logowanie
		button.rounded(x-show="!($store.user.auth)" @click="$store.form.setType('register')") Rejestracja