.crew-lobby
	| Trening
	.list.player-list
		include ./crew-member

	// button.add.bg-darkwood.rounded.shade-b(hx-get="/htmx/crew-add" hx-target=".player-list" hx-swap="beforeend") +

	.lobby-settings

.br-buttons
	button#ready-btn.bg-darkwood.shade-b(onclick="Corsairs.start(false)") TRENING!
	button.bg-grey.shade-b(hx-get="/htmx/main-menu" hx-target="#view") POWRÓT

