<div class="list-element">
	
	<div 
		class="avatar shade-b"
		style="background-image: url('<%= player?.avatar %>')"
	></div>

	<div class="separator bg-amber rounded shade-b"></div>
	
	<div class="player-info bg-cloth shade-b">
		<span class="name txt-amber"><%= player?.name ?? "Puste" %></span>
	</div>

</div>