<div class="crew-lobby" data-crew-id="<%= crew.id %>">
	Lobby
	<div 
		class="list player-list" 
		hx-trigger="crew-change from:body" 
		hx-post="/htmx/crew-change"
		hx-vals='{"type": "crew", "crewId": <%= crew.id %>}'
		hx-swap="innerHTML"
	>
		<%- include("./crew-list", {crew}) %>
	</div>

	<button 
		class="add bg-darkwood rounded shade-b"
		hx-get="/htmx/crew-add" hx-target=".player-list" hx-swap="beforeend"
	>+</button>

	<div class="lobby-settings">

	</div>

</div>

<div class="br-buttons">
	<button id="ready-btn" class="bg-darkwood shade-b">GOTOWY!</button>
	<button class="bg-grey shade-b" hx-get="/htmx/crew-leave" hx-target="#view">OPUŚĆ ZAŁOGĘ</button>
</div>

<template id="t-crew-member">
	<%- include('./crew-member', {player: null}); %>
</template>

<!-- Start game script -->
<script>
	document.getElementById("ready-btn").addEventListener("click", async () => {
		if (!Corsairs.mounted) {
			console.log("Still not mounted lol");
			await Corsairs.mount("#game-wrapper");
		}
		Corsairs.start();
	});
</script>