
<div class="main-menu">
	<div class="pillar bg-darkwood shade-b"></div>

	<div class="menu-item" hx-get="/htmx/tavern-list" hx-target="#view">
		<h2>Tawerna</h2>
	</div>
	<div class="menu-item">
		<h2>Trening</h2>
	</div>
	<div class="menu-item">
		<h2>Ranking</h2>
	</div>
</div>