<!-- hx-target, hx-swap & hx-vals updated dynamically via websockets -->
<div 
	class="list tavern-list"
	hx-trigger="crew-change from:body" 
	hx-post="/htmx/crew-change"
>
	Crew list
	<% for(const crew of crews) { %>
		<%- include("./tavern-member", {crew}) %>
	<% } %>
</div>

<div class="br-buttons">
	<button class="bg-darkwood shade-b" hx-get="/htmx/crew-lobby" hx-target="#view">
		<% if(typeof crew !== "undefined" && crew) { %>
			MOJA ZAŁOGA
		<% } else { %>
			STWÓRZ ZAŁOGĘ
		<% } %>
	</button>
	<button class="bg-grey shade-b" hx-get="/htmx/main-menu" hx-target="#view">POWRÓT</button>
</div>