<div class="topbar bg-wood border-box shade-b">
	
	<div class="crew bg-cloth rounded">

	</div>

	<div class="title menu-item h-100p" hx-get="/htmx/main-menu" hx-target="#view">
		<h1>KORSARZE ONLINE 2</h1>
	</div>

	<div class="player bg-cloth rounded h-100p">
		<div id="player-avatar" class="avatar"></div>
		<div class="info">
			<span id="player-name">No name</span>
		</div>
	</div>

</div>