doctype html
html

head
	meta(charset="UTF-8")
	<!-- HTMX CDN -->
	script(src="https://unpkg.com/htmx.org@1.9.10")
	script(src="https://cdn.socket.io/socket.io-3.0.1.min.js")
	script(type="module" src="/io-client.js")
	script(type="module" src="/auth-client.js")
	script(type="module" src="/corsairs/Corsairs.js")
	
	link(rel="stylesheet" href="/index.css")
	link(rel="stylesheet" href="/includes.css")
	link(rel="stylesheet" href="/corsairs/corsairs.css")

	title Korsarze Online 2

body
	div(id="game-wrapper" style="display: none;")

	include ./includes/topbar

	div#view
		include ./includes/main-menu

	<!-- Start game script -->
script(type="module").
	import { socket } from "/io-client.js";
	window.onload = () => {
		Corsairs.mount("#game-wrapper");
	}
