doctype html
html

head
	meta(charset="UTF-8")

	script(defer src="/socket.io/socket.io.js")
	script(defer type="module" src="/js/index.js")
	script(defer src="/js/alpine.min.js")
	script(defer type="module" src="/corsairs/Corsairs.js")
	
	link(rel="stylesheet" href="/css/index.css")
	link(rel="stylesheet" href="/css/includes.css")
	link(rel="stylesheet" href="/corsairs/corsairs.css")

	title Korsarze Online 2

body(onkeydown="processHotkey(event.key)")
	div(id="game-wrapper" style="display: none;")
		#game-controls.bg-wood
			button.rounded.restart RE:START
			button.rounded.leave.bg-grey KONIEC

	include ./includes/topbar

	div#view(x-data)
		include main-menu
		include tavern
		include lobby-crew
		include lobby-training

<!-- Start game script -->
script(type="module").
	window.onload = () => {
		Corsairs.mount("#game-wrapper");
		document.querySelector("#game-controls > .restart").addEventListener("click", _ => Corsairs.start())
		document.querySelector("#game-controls > .leave").addEventListener("click", _ => Corsairs.leave())
	}
