doctype html
html

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	//- script(defer src="/socket.io/socket.io.js")
	script(src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous")
	script(defer type="module" src="/js/index.js")
	//- script(defer src="/js/alpine.min.js")
	script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js")
	script(defer type="module" src="/corsairs/Corsairs.js")

	link(rel="stylesheet" href="/corsairs/corsairs.css")
	link(rel="stylesheet" href="/css/index.css")

	title Korsarze Online 2

//- body(onkeydown="processHotkey(event.key)")
body()
	div(id="game-wrapper" style="display: none;")
		#game-controls.nav-buttons.bg-wood.shade-b
			button.rounded.shade-b.restart RE:START
			button.rounded.shade-b.bg-grey.leave KONIEC

	include ./includes/topbar
	include ./includes/chat
	include ./includes/form-register
	include ./includes/form-login

	div#view(x-data)
		include main-menu
		include tavern
		include lobby-crew
		include lobby-training
		include ranking

<!-- Start game script -->
script(type="module").
	window.onload = () => {
		Corsairs.mount("#game-wrapper");
		document.querySelector("#game-controls > .restart").addEventListener("click", _ => Corsairs.start())
		document.querySelector("#game-controls > .leave").addEventListener("click", _ => Corsairs.leave())
	}
