#main-menu(x-show="$store.router.is($el.id)")
	.pillar.bg-darkwood.shade-b
	button.menu-item(@click="$store.router.setView('tavern')")
		h2 Speluna

	button.menu-item(@click="$store.router.setView('lobby-training')")
		h2 Zaprawa

	button.menu-item()
		h2 Ranking