#main-menu(x-show="$store.router.is($el.id)")
	.pillar.bg-darkwood.shade-b
	.menu-item(@click="$store.router.setView('tavern')")
		h2 Tawerna

	.menu-item(@click="$store.router.setView('lobby-training')")
		h2 Tawerna

	.menu-item()
		h2 Ranking