#ranking(x-cloak x-show="$store.router.is($el.id)")
	.ranking-list
		.row.heading
			button.cell.refresh(@click="$store.stats.get()")
			button.cell(@click="$store.stats.sort('name')") Gracz
			button.cell(@click="$store.stats.sort('score')") Wynik
			button.cell(@click="$store.stats.sort('highscore')") Rekord
		template(x-for="data in $store.stats.data" :key="data.name")
			.row.item
				div.cell.avatar-wrapper
					.avatar(style="background-image: url('/avatars/Corsair.jpg')")
					.separator
				div.cell.name(x-text="data.name")
				div.cell.data
					span.mobile Wynik:
					span(x-text="data.score")
				div.cell.data
					span.mobile Rekord:
					span(x-text="data.highscore")

	.nav-buttons
		button.bg-grey.shade-b(@click="$store.router.setView('main-menu')") POWRÓT