/* TOPBAR */
.topbar {
	position: relative;
	display: flex;
	height: var(--topbar-height);
	justify-content: center;
	padding: 0.5rem;
	width: 100%;
	z-index: 1;

	& > .spacer {
		flex-shrink: 1; 
		width: 10rem;
	}

	& > div:not(.spacer) {
		flex-shrink: 0;
	}

	& > .title-wrapper {
		margin: 0 auto;
		padding: 0 0.5rem;

		& > .title {
			padding: 0 2.5rem;
		}
	}

	& > .crew {
		width: 8rem;
	}

	& > .player-wrapper {
		align-items: stretch;
		display: flex;
		width: 18rem;

		& > .avatar {
			border: 2px solid var(--cloth);
			border-radius: 5px 0 0 5px;
			box-sizing: border-box;
			flex-shrink: 0;
			width: 4rem;
		}

		& > .info {
			padding: 0.5rem 0.75rem 0.25rem;
			width: 100%;

			& > * {
				display: flex;
				height: 100%;
				justify-content: space-between;
				width: 100%; 
			}

			& > .profile {
				flex-direction: column;

				& > .btn-row {
					display: flex;
					gap: 0.5rem;
					width: 100%;
	
					& > button {
						flex-grow: 1;
						font-size: 1rem;
						height: 1.5rem;
					}
				}
			}

			& > form {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				& > .row {
					display: flex;
					gap: 0.5rem;
					height: calc(50% - 0.25rem);
				}

				& button {
					aspect-ratio: 1;
					font-size: 1rem;
					height: 100%;
				}

				& input {
					flex-grow: 1;
					font-size: 0.8rem;
				}
			}

			

			/* & > .input-row {
				display: flex;
				height: 1.5rem;
			} */
		}

		& span {
			color: var(--amber);
			line-height: 1.25em;
		}
	}
}

/* VIEW */
#view {
	margin: 3rem 3rem 2rem 3rem;
}

/* MAIN MENU */
.pillar {
	position: absolute;
	width: 1.5rem;
	height: calc(100% + 7.5rem);
	left: calc(50% - 0.75rem);
	top: -5rem;
}

#main-menu {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	position: relative;
	padding-top: 2rem;
	margin-left: 2rem;
	width: 21rem;

	& > .menu-item {
		width: 18rem;
		height: 4rem;
	}

	& > .menu-item:nth-child(even) {
		margin-left: auto;
	}
}

/* CREW LIST */
.tavern-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	& > .list-element {
		min-height: 7rem;

		& > .left, & > .right {
			background-color: #8D6346AA;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0.25rem 0;
			padding: 0.75rem 1rem;
		}

		& > .left {
			min-width: 12rem;
		}

		& > .separator {
			width: 1.5rem;
		}

		& > .right {
			flex-grow: 1;
			border-radius: 0.25rem 0.25rem 5rem 0.25rem;

			& > .avatars {
				display: flex;
				gap: 1rem;

				& > .avatar {
					background-size: cover;
					border: 2px solid var(--amber);
					border-radius: 100%;
					box-sizing: border-box;
					width: 3rem;
				}
			}
		}
	}

	& span {
		font-size: 1.2rem;
		line-height: 1.2em;
	}
}

/* CREW LOBBY */
.game-lobby {

	display: flex;
	flex-direction: column;
	gap: 1rem;

	& button.add {
		font-size: 4rem;
		line-height: 1em;
		width: 4rem;
	}

	.player-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		/* width: 30rem; */
	
		& > .list-element {
			min-height: 4.5rem;
	
			& > .avatar, & > .player-info {
				margin: 0.25rem 0;
			}
	
			& > .avatar {
				border: solid var(--cloth);
				border-radius: 5px 0 0 5px;
				border-width: 2px 0 2px 2px;
				flex-shrink: 0;
				width: 4rem;
			}
	
			/* TODO: this is duplicated */
			& > .separator {
				flex-shrink: 0;
				min-height: 100%;
				width: 1.5rem;
			}
	
			& > .player-info {
				align-items: center;
				border-radius: 0 5px 5px 0;
				display: flex;
				padding-left: 1rem;
				min-width: 25rem;
			}
		}
	
		& span {
			font-size: 1.4rem;
		}
	}
}

/* GAME */
#game-controls {
	box-sizing: border-box;
	display: flex;
	gap: 1rem;
	height: var(--topbar-height);
	justify-content: center;
	padding: 0.5rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 668;

	& > button {
		font-size: 2.5rem;
		letter-spacing: 1px;
		line-height: 1em;
		width: 100%;
	}
}

@media (min-width: 1025px) {
	#game-controls { display: none; }
}

/* RANKING */
#ranking {
	& > .ranking-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 730px;

		& .ranking-row {
			align-items: center;
			background-color: var(--cloth);
			border-radius: 25px;
			display: flex;
			gap: 0.75rem;
			height: 3rem;
			padding-right: 1rem;

			& .avatar {
				align-self: center;
				border: solid var(--amber);
				border-width: 2px 0 2px 2px;
				border-radius: 25px 0 0 25px;
				flex-shrink: 0;
				max-height: 3rem;
				width: 3rem;
			}

			& .separator {
				background-color: var(--amber);
				width: 1.5rem; 
			}

			& > div {
				color: var(--amber);
				display: flex;
				font-size: 1.2rem;
				justify-content: center;

				&:nth-child(1) {
					flex: 0 0;
					height: calc(100% + 10px);
					width: 4.5rem;
				}

				&:nth-child(2) {
					flex-basis: 100%;
				}

				&:nth-child(3), &:nth-child(4) {
					flex-basis: 35%;
				}
			}
		}
	}
}