:root {
	--amber: #D88B46;
	--cloth: #FFE99D;
	--darkwood: #834848;
	--gold: #FFD543;
	--grey: #444;
	--wood: #8D6346;

	--rounded: 0.25rem;
	--shade-b: 0px 4px 4px rgba(0, 0, 0, 0.25);

	--topbar-height: 100px;

	color: var(--amber);
	font-family: "Default";
	font-size: 20px;
}

@font-face {
  font-family: "PirataOne";
  src: local("PirataOne"), url(./fonts/PirataOne/PirataOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Default";
  src: local("Besley"), url(./fonts/Besley/Besley-VariableFont_wght.ttf) format("truetype");
}

body {
  background: linear-gradient(134.38deg, #5448C8 11.84%, #60B2E5 87.42%);
  height: 100dvh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PirataOne";
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2rem;
}

button {
	border: none;
	background-color: var(--darkwood);
	color: var(--cloth);
	cursor: pointer;
	font-family: "PirataOne";
}

input {
	background: transparent;
	border-color: var(--darkwood);
	border-width: 0 0 2px 0;
	color: var(--darkwood);
	font-family: "Default";
	outline: none;
}

.capitalize::first-letter { text-transform:capitalize; }

.bg-amber { background-color: var(--amber); }
.bg-cloth { background-color: var(--cloth); }
.bg-darkwood { background-color: var(--darkwood); }
.bg-grey { background-color: var(--grey); }
.bg-wood { background-color: var(--wood); }

.txt-amber { color: var(--amber); }

.rounded { border-radius: var(--rounded); }

.shade-b { box-shadow: var(--shade-b); }

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.border-box { box-sizing: border-box; }

.h-100p { height: 100%; }

/* Common */
.menu-item {
	align-items: center;
	display: flex;
	justify-content: center;

	background-color: var(--cloth);
	border-radius: var(--rounded);
	box-shadow: var(--shade-b);
	z-index: 1;
}

.menu-item:hover {
	cursor: pointer;
}

.avatar {
	aspect-ratio: 1;
	background-size: cover;
	background-position: center;
}

/* GENERIC LIST */
.list {
	& > .list-element {
		display: flex;
	}

	& .separator {
		min-height: 100%;
	}
}

/* BOTTOM-RIGHT BUTTONS */
.br-buttons {
	position: absolute;
	bottom: 2rem;
	right: 3rem;

	display: flex;
	gap: 2rem;

	& > button {
		border-radius: 5px;
		font-size: 1.8rem;
		line-height: 1em;
		padding: 0.75rem 3rem;
	}
}