mixin lobby-list-el(training)
	.list-element
		- const url = training ? "$store.user.avatar" : "mate?.avatar ?? ''";
		- const style = "`background-image: url(${" + url + "})`";
		.avatar.shade-b(x-bind:style=style)

		.separator.bg-amber.rounded.shade-b
		
		.player-info.bg-cloth.shade-b
			- const name = training ? "$store.user.name" : "mate?.name ?? 'Puste'"
			span.name.txt-amber(x-text=name)