#game-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  /* */
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-wrapper canvas {
   background: linear-gradient(134.38deg, #5448C8 11.84%, #60B2E5 87.42%);
   z-index: 667;
}

#game-wrapper .game-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 75%);
  z-index: 666;
}

#game-wrapper .joystick,
#game-wrapper .joystick > div {
  aspect-ratio: 1 / 1;
  background-size: 100%;
  image-rendering: pixelated;
  position: absolute;
  z-index: 668;
}
#game-wrapper .joystick {
  background-image: url("/corsairs/gfx/ui/joystick-bottom.png");
  pointer-events: none;
  translate: -50% -50%;
  width: 192px;
}
#game-wrapper .joystick > div {
  background-image: url("/corsairs/gfx/ui/joystick-top.png");
  translate: 50% 50%;
  width: 96px;
}

@media screen and (max-width: 1024px) {
	#game-wrapper {
		flex-direction: column;
		justify-content: start;
	}
}